@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

body {
    height: 100%;
    display: grid;
    place-items: center;

}

.wrapper{
    background-color: #fff;
    padding-right: 50px;
    height: 250px;
    width: 600px;
    border-radius: 15px;
    box-shadow: 0 .8rem 2.5rem rgba(0,0 ,0 , .8 );
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper.active{
    height: 300px;
}

.wrapper.active .header h1{
    font-size: 2.5rem;
}

.header-form {
    padding-left: 50px;
    margin-right: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:    center;
}

.wrapper .header h1 {
    font-size: 3rem;
    text-align: center;
}

.wrapper .header p {
    font-size: 1.6rem;
    margin-bottom: 5px;
    text-align: center;
}

.wrapper .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper .form input {
    background-color: transparent;
    width: 100%;
    outline: none;
    height: 40px;
    margin-bottom: 2rem;
    border: none;
    border-bottom: .1rem solid #5014b8;
}

.wrapper .form input::placeholder{
    padding-left: .5rem;
    color: black;
}

.wrapper .form button{
    width: 100%;
    height: 40px;
    background-color: #5ffbf1;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.wrapper .form button:hover{
    border: .1rem #5ffbf1;
    color: #5ffbf1;
    background-color: transparent;
    font-weight: bolder;
}

.wrapper .qr-code{
    display: none;
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 5px;
    pointer-events: none;
    border: 1px solid rgb(0, 0, 0);
}

.wrapper .qr-code img{
    width: 170px;
}

.wrapper.active .qr-code{
    display: block;
    transition: all .5s .5s ease;
}

.box{
    width: 65px;
    height: 68px;
    align-items: left;
    padding: 5px;
    margin: 0.6rem;
    position: relative;
    cursor: pointer;
    transition: all .4s ease;
    color: white;
    }

    .box:hover{
        width: 200px;
        background: #c32aa3;
        border-radius: 35px;
        color: #fff;
        box-shadow: 0 0 50px #b315917c;
    }

    .box:nth-child(1):hover{
        background: #25d366;
        box-shadow: #25d3657e;
    }

    .box:nth-child(2):hover{
        background: #c32aa3;
        box-shadow: #b315917c;
    }

    .box:nth-child(3):hover{
        background: #1da1f2;
        box-shadow: #1da0f280;
    }

    .navbar p{
        transform: translate(60px);
    }

    .box.icon{
        position: absolute;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        border-radius: 50%;
        margin-right: 10px;
        transition: all .4s ease;
    }

    .instagram{
        background-color: #c32aa3;
        border-radius: 50px;
    }

    .linktree{
        background-color: #25d366;
        border-radius: 50px;
    }

    .twitter{
        background-color: #1da1f2;
        border-radius: 50px;
    }
